@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/*--------------------------------header--------------------------------*/
.active-link{
    color: #4a774f;
}
header{
    height: 10vh;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Orbitron", sans-serif;
}
header div{
    text-align: center;
}
header h3{
    font-size: 16px;
}
header nav ul{
    display: flex;
    gap: 20px;

}
header nav a{
    color: gray;
    font-size: 20px;
}
/*----------------------------------main-------------------------------*/
main{
    height: 90vh;
    background-image: url(https://wallpapercave.com/wp/wp5517840.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    padding-top: 50px;
}
main p{
    font-size: 20px;
}
main h1{
    font-size: 100px;
    letter-spacing: 40px;
}
main button{
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    transition: 1s;
}
main button:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    color: #4a774f;
}

.one{
    padding-top: 40px;
}
.link{
    color: #416846;
}
.service{
    padding-top: 40px;
}
.blog{
    text-align: center;
}
.blog-p{
    padding-top: 40px;
}
.about{
    text-align: center;
    padding-top: 30px;
}
.location-p{
    padding-top: 20px;
}
.location-h{
    text-align: center;
}
.location{
    text-align: center;
}
