p{
    color: coral;
    /*font-size: 32px;*/
    width: 30%;
    height: 50%;
    background-color: lightskyblue;
    display: inline-block;
}
body{
    background-image: url("https://th.bing.com/th/id/R.d20547e5e7a405df39afcf7a09c6789f?rik=Cu6Kqkp3OFe8%2fA&riu=http%3a%2f%2fimages.unsplash.com%2fphoto-1494500764479-0c8f2919a3d8%3fixlib%3drb-1.2.1%26q%3d80%26fm%3djpg%26crop%3dentropy%26cs%3dtinysrgb%26w%3d1080%26fit%3dmax&ehk=gaDqrIzBCgO%2f7RhFo7yEC%2bLi7LbmfTUK%2bi%2bxNzymPxw%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h2, h3{
    color: cornflowerblue;
}
sub, sup{
    font-size: 16px;
    color: tan;
}
span{
    /*font-size: 40px;*/
    color: darkblue;
    width: 30%;
    height: 50%;
    background-color: lightskyblue;
    display: inline-block;
}
img{
    width: 400px;
    height: 250px;
    object-fit: cover;
}